// main: style.scss

footer
{
    background-color: #ded0a0;
    color:black;
    border-top: 50px solid #ccb66c !important;
    font-size: 0.8em;
}

footer a
{
    color: black;
}

footer h2
{
    font-size: 1em;
}

footer h3
{
    font-size: .9em;
}

footer div.copyright
{
    background-color: #ccb66c;
    color:white;
}

footer div.copyright a,
footer div.copyright a:hover,
footer div.copyright a:active
{
    color: black;
    text-decoration: underline
}