// main: style.scss
@font-face {
  font-family: 'Myriad-Pro', sans-serif;
  src: url('../../fonts/MyriadPro-Regular.otf') format("opentype");
  src: url('../../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../../fonts/MyriadPro-Regular.ttf')  format('truetype');
}

body
{
    background-color: white;
    color: black;
    font-size: 1.8em;
    min-width: 100%;
    padding:0px;
    margin:0px;
    overflow-x:hidden;
    font-family: 'Myriad-Pro';

    background-image: url('../../img/template/cannabis-background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

hr
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -o-linear-gradient(left,        rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.white
{
    border:             0;
    height:             1px;
    background-image:   -webkit-linear-gradient(left,   rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -moz-linear-gradient(left,      rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -ms-linear-gradient(left,       rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -o-linear-gradient(left,        rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

.margin-bottom 
{
    margin-bottom: 20px;
}

.margin-bottom-p
{
    margin-bottom: 10px;
}

.margin-bottom-g
{
    margin-bottom: 40px;
}

.margin-top 
{
    margin-top: 20px;
}

.margin-top-p
{
    margin-top: 10px;
}

.margin-top-g
{
    margin-top: 40px;
}

div.margin-bottom-negative
{
    margin-bottom: -40px;
}

.padding-bottom 
{
    padding-bottom: 20px;
}

.padding-bottom-p
{
    padding-bottom: 10px;
}

.padding-bottom-g
{
    padding-bottom: 40px;
}

.padding-top 
{
    padding-top: 20px;
}

.padding-top-p
{
    padding-top: 10px;
}

.padding-top-g
{
    padding-top: 40px;
}

.padding-left 
{
    padding-left: 20px;
}

.padding-left-p
{
    padding-left: 10px;
}

.padding-left-g
{
    padding-left: 40px;
}

.padding-right 
{
    padding-right: 20px;
}

.padding-right-p
{
    padding-right: 10px;
}

.padding-right-g
{
    padding-right: 40px;
}

.no-padding
{
    padding: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

.border-right
{
    border-right: 2px solid #cbcbcb;
}

.border-left
{
    border-left: 2px solid #cbcbcb;
}

.border-bottom-golden
{
    border-bottom: 5px solid #B7952D;
}

.black{
    color:black;
}


h1,h2,h3,h4,h5,h6
{
    color: #B7952D;
    text-transform: uppercase;
    font-weight: bold;
}


div.img-center
{
    position:relative;
    text-align: center;
}
div.img-center img
{
    position: relative;
    margin: 0 auto;
}

section
{
    background-color: white;
    min-height: 500px;
}

section div.siteContainer
{
    position:relative;
    margin-top: 80px;
}