div.investmentIcon
{
    background-color: #bba03c;
    color: white;
    margin:15px 0px;
    height: 214px;
    overflow: hidden;
}

div.investmentIcon h1
{
    color: white;
    font-size: 1.2em;
}

div.investmentIcon h2
{
    color: white;
    font-size: 1.2em;
    text-transform: none;
    margin-top: 25px;
}

div.investmentIcon div.investmentIconFooter
{
    position:relative;
    bottom: 0px;
    padding: 0px;
    background-color: #c3af66;
}